.divider {
    border-bottom: 1px solid #EDEEF0;
}

.graph-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.overview-container {
    min-width: 340px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gray-bg-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    position: static;
    background: #F5F7FA;
    border-radius: 12px;
    padding: 12px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #193048;
}

.card-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A3ACB6;
}

.card-header {

}
.card-info-title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}
.row {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}


.item-name {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6C7B8A;
}

.item-value {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #193048;
}

.risk-levels {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4px;
}

.level {
    display: inline-block;
    min-width: 12px;
    min-height: 32px;
    background: #DADEE2;
    border-radius: 2px;
}

.active-level {
    background: #8A9C1B;
}

.risk-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #193048
}

.bordered-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    position: static;
    left: 16px;
    top: 409px;
    background: #FFFFFF;
    border: 1px solid #EDEEF0;
    box-sizing: border-box;
    border-radius: 12px;
}

.title-md {
    font-family: 'SF Pro Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6C7B8A;
}

.invest-sum {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #193048;
}


.row p, .card-body p {
    padding: 0;
    margin: 0;
}

.ranger {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.predicted-income {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F05323;
}

.predicted-income-reminder {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A3ACB6;
}

.overview-footer {
    height: 72px;
    left: calc(50% - 360px/2);
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.08);
    padding: 12px;
}


.price-general-info {
    margin: 10px 0 0 20px;
}

.graph-current-price {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #193048;
    margin: 0;
}

.graph-predicted-raise {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #8A9C1B;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0 0;
}

.predicted-price {
    margin-left: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navigation-buttons {
    max-width: 300px;
}

